.ground {
    background-color: purple;
}

dl {
    background-color: beige;
    overflow: hidden;
    line-height: 1.5rem;
    border: 5px solid pink;
    padding: 15px;
    border-radius: 25px;
}

dt {
    color: purple;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "helvetica", sans-serif;
    float: left;
    clear: left;
    width: 15em;
    border-right: 2px solid pink; 
}

dt:after {
    content: ":";
}

dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em;
    float: left;
    font-weight: light;
    color: purple;
}